html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular") ,
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold") ,
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold") ,
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold") ,
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* common */

.hidden-title {
  display: none;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
  height: 100%;
}

.main {
  margin-bottom: 100px;
}

/* header */

.header {
  margin: 0 auto;
  margin-bottom: 50px;
  max-height: 100px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 13px 75px;
  display: flex;
  align-items: center;
}

.header__burger-btn {
  display: none;
}

.header__nav-burger {
  display: none;
}

.header__logo {
  margin: 0;
  margin-right: 85px;
  flex-basis: 39.2%;
}

.header__nav {
  margin-right: 85px;
  flex-basis: 50%;
}

.header__list {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transition: border-bottom 0.4s ease-in-out, color 0.4s ease-in-out;
  border-bottom: 2px solid transparent;
}

.header__link:hover:not(:focus-visible) {
  border-bottom: 2px solid #FF9900;
}

.header__link:focus {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.header__link:active:not(:focus-visible) {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.form-container {
  position: relative;
}

.header__btn {
  padding: 0;
  stroke: #333333;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header__btn svg {
  transition: stroke 0.4s ease-in-out, outline 0.4s ease-in-out;
}

.header__btn svg:hover:not(:focus-visible) {
  stroke: #FF9900;
}

.header__btn:focus {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
}

.header__btn svg:active:not(:focus-visible) {
  stroke: #FF9900;
}

.header__form {
  position: absolute;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  padding-left: 32px;
  padding-right: 13px;
  padding-top: 16px;
  padding-bottom: 16px;
  max-width: 539px;
  z-index: 2;
  transform: translateY(-70%) translateX(10%);
  right: 20px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.header__form-input {
  flex: 1;
  padding: 5px;
  margin: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #CACACA;
  margin-right: 14px;
  width: 412px;
}

.header__form-input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
}

.header__form-input:focus-visible {
  outline: 0;
  opacity: 0.8;
}

.header__form-submit {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 20px;
}

.header__btn-close svg {
  stroke: #CACACA;
  transition: fill 0.4s ease-in-out, stroke 0.4s ease-in-out;
}

.header__btn-close:hover:not(:focus-visible) svg {
  stroke: #FF9900;
}

.header__btn-close:focus {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
}

.header__btn-close:active:not(:focus-visible) svg {
  stroke: #000000;
}

.form__active {
  opacity: 1;
  visibility: visible;
}

.header__btn-close {
  background-color: transparent;
  border: none;
  padding: 0;
}

/* order */

.order {
  margin-bottom: 50px;
  border-radius: 32px;
  overflow: hidden;
}

.order-block {
  border-radius: 32px;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.swiper.order-block__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.swiper-wrapper {
  position: relative;
  z-index: 1;
  border-radius: 32px;
  display: flex;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.swiper-slide.slide-one {
  background-image: url(../img/order-1.jpg);
}

.swiper-slide.slide-two {
  background-image: url(../img/order-2.jpg);
}

.swiper-slide.slide-three {
  background-image: url(../img/order-3.jpg);
}

.swiper-bullet-pagination {
  margin: 0 !important;
  margin-bottom: 30px !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  margin: 0 !important;
}

.order-block__pagination.swiper-bullet-pagination {
  z-index: 2;
  position: absolute;
  display: flex;
  margin: 30px;
  justify-content: center;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px !important;
}

.order-block__heading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
  max-width: 840px;
}

.order-block__text {
  margin: 0;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  max-width: 795px;
}

.order-block__btn {
  padding: 25px 39px;
  max-width: 280px;
  margin: 0;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF9900;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.order-block__btn:hover:not(:focus-visible) {
  background-color: #FF9900B2;
}

.order-block__btn:focus {
  background-color: #FF9900B2;
  outline: none;
}

.order-block__btn:active:not(:focus-visible) {
  background-color: #E1670E;
}

/* description */

.description {
  margin-bottom: 100px;
}

.description__heading {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.description__text {
  width: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-bottom: 50px;
}

.description__blocks {
  display: flex;
}

.description__block-left {
  display: flex;
  background-image: url(../img/descr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  width: 49%;
  justify-content: flex-end;
  margin: 0;
  margin-right: 32px;
  border-radius: 32px;
  overflow: hidden;
}

.description__image {
  display: none;
}

.description__block-left-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00000080;
  padding: 50px;
  margin-top: 49.5%;
}

.description__block-left-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0;
  width: 454px;
}

.description__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  border: 3px solid #FF9900;
  padding: 20px 38px;
  margin: 0;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.description__btn:hover:not(:focus-visible) {
  background-color: #FF9900;
  outline: none;
}

.description__btn:focus {
  background-color: #FF9900;
  outline: none;
}

.description__btn:active:not(:focus-visible) {
  background-color: #E1670E;
  outline: none;
}

.description__block-right {
  flex-direction: column;
  width: 49%;
  display: flex;
}

.description__block-right-article {
  display: flex;
  padding-top: 7.5%;
  padding-right: 14%;
  padding-bottom: 7.5%;
  padding-left: 7%;
  border: 1px solid #CACACA;
  flex: 1;
  position: relative;
  align-items: center;
  border-radius: 32px;
}

.description__block-right-article svg {
  margin-right: 50px;
}

.description__block-right-article:not(:last-child) {
  margin-bottom: 32px;
}

.description__block-right-content {
  margin: 0;
  width: 70%;
}

.description__block-right-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin: 0;
  margin-bottom: 8px;
}

.description__block-right-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin: 0;
}

/* service */

.service {
  margin-bottom: 100px;
}

.service__heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
  margin: 0;
  margin-bottom: 50px;
}

.steps-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  list-style: none;
}

.steps-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.step-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: color 0.4s ease-in-out;
}

.step-btn:hover:not(:focus-visible) {
  color: #FF9900;
}

.step-btn:focus {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.step-btn:active:not(:focus-visible) {
  color: #E1670E;
}

.step-btn--active {
  color: #E1670E;
}

.steps-item:not(:last-child) {
  margin-right: 85px;
}

.step {
  display: none;
}

.step--active {
  display: flex;
}

.service__step-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-bottom: 8px;
}

.service__step-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-bottom: 18px;
}

.service__step {
  width: 41.5%;
  margin: 0;
  margin-right: 10%;
}

.service__buttons {
  display: flex;
}

.service__button-orange {
  align-items: center;
  padding: 19px 38px;
  background-color: #FF9900;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-right: 32px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.service__button-orange:hover:not(:focus-visible) {
  background-color: #F7B045;
}

.service__button-orange:focus {
  background-color: #F7B045;
  outline: none;
}

.service__button-orange:active:not(:focus-visible) {
  background-color: #E1670E;
}

.service__button-transparent {
  align-items: center;
  padding: 19px 38px;
  border: 1px solid #333333;
  border-radius: 16px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.service__button-transparent:hover:not(:focus-visible) {
  background-color: #666666;
  color: #FFFFFF;
}

.service__button-transparent:focus {
  background-color: #666666;
  color: #FFFFFF;
  outline: none;
}

.service__button-transparent:active:not(:focus-visible) {
  background-color: #000000;
  color: #FFFFFF;
}

.service__image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 49%;
  border-radius: 32px;
  overflow: hidden;
}

.first-step-img {
  background-image: url(../img/service-1.jpg);
}

.second-step-img {
  background-image: url(../img/service-2.jpg);
}

.third-step-img {
  background-image: url(../img/service-3.jpg);
}

.fourth-step-img {
  background-image: url(../img/service-4.jpg);
}

/* faq-block */

.faqblock__heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
  margin: 0;
  padding: 0 !important;
  margin-bottom: 32px;
  padding-top: 10px;
}

.faqblock__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  transition: color 0.4s ease-in-out;
  margin: 0;
}

.faq__top {
  display: flex;
  margin: 0;
  position: relative;
  padding: 38px 0;
  padding-right: 75px;
  border: none;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid transparent;
  transition: border-color 0.4s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  justify-content: space-between;
  text-align: start;
}

.faq__top:first-child {
  border-bottom: 1px solid #CACACA;
  transition: border-color 0.4s ease-in-out;
}

.faq__top:focus {
  outline: none;
  border-color: #FF9900;
}

.faq__top:focus .faq__title {
  color: #FF9900;
}

.faq__top:hover:not(:focus-visible) .faq__title {
  color: #FF9900;
}

.faq__top:hover:not(:focus-visible), .faq__top:focus-within {
  border-color: #FF9900;
  position: relative;
  z-index: 1;
}

.faq__top:active:not(:focus-visible) .faq__title,
.accordion--active .faq__title {
  color: #000000;
}

.faq__top:active:not(:focus-visible),
.accordion--active .faq__top {
  border-color: #000000;
}

.faq__top svg {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -25px;
}

.faq__top:hover:not(:focus-visible) svg ellipse {
  fill: #FF9900;
}

.faq__top:hover:not(:focus-visible) svg path {
  fill: #FFFFFF;
}

.accordion--active .faq__top svg {
  transform: rotate(45deg);
}

.faq__top:focus svg ellipse {
  fill: #FF9900;
}

.faq__top:focus svg path {
  fill: #FFFFFF;
}

.faq__top:active:not(:focus-visible) svg ellipse {
  fill: #CACACA;
}

.faq__top svg ellipse,
.faq__top svg path {
  transition: fill 0.4s ease-in-out;
}

.faq__top:active svg {
  transform: rotate(45deg);
}

.faq__top svg {
  transition: transform 0.3s ease-in-out;
}

.accordion-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  margin: 0;
}

.accordion-text:first-child {
  margin-top: 30px;
}

.accordion-text:not(:last-child) {
  margin-bottom: 32px;
}

.accordion-text:last-child {
  margin-bottom: 40px;
}

.faq__top:focus .faq__top + .faq__accordion {
  position: relative;
  z-index: 2;
}
 .faq__accordion {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
 }

 .accordion--active .faq__accordion {
  visibility: visible;
 }

 .accordion--active .faq__top .faq__title {
  color: #000000;
 }

 .accordion--active .faq__top svg ellipse {
  fill: #CACACA;
}

 .accordion--active .faq__top svg path {
  fill: #000000;
}

/* footer */

.footer {
  background-color: #222222;
  margin: 0 auto;
  max-height: 594px;
  padding: 50px 0;
}

.footer__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.footer__block-left {
  margin: 0;
  margin-right: 40px;
  flex-basis: 21%;
}

.footer img {
  display: block;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}

.footer__list-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  transition: color 0.4s ease-in-out;
}

.footer__list-item:hover:not(:focus-visible) {
  color: #FF9900;
}

.footer__list-item a:focus {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.footer__list-item:active:not(:focus-visible) {
  color: #E1670E;
}

.footer__social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-link:not(:last-child) {
  margin-right: 25px;
}

.social-link__logo {
  display: flex;
}

.social-link__logo svg {
  fill: #666666;
  transition: fill 0.4s ease-in-out;
}

.social-link__logo svg:hover:not(:focus-visible) {
  fill: #FF9900;
}

.social-link__logo:focus {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.social-link__logo svg:active:not(:focus-visible) {
  fill: #E1670E;
}

.footer__block-middle {
  margin: 0;
  margin-right: 40px;
  width: 570px;
}

.footer__heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
  margin: 0;
  margin-bottom: 25px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  background-color: #414141;
  border: none;
  border-radius: 16px;
  color: #CACACA;
  font-weight: 400;
  font-size: 16px;
  padding: 14px 24px;
  margin: 0;
  margin-bottom: 25px;
  width: 100%;
  height: 60px;
  transition: background-color 0.4s ease-in-out;
}

.form-input:not(:last-child) {
  margin-bottom: 25px;
}

.form-textarea {
  background-color: #414141;
  border-radius: 16px;
  color: #CACACA;
  font-weight: 400;
  font-size: 16px;
  padding: 14px 24px;
  margin: 0;
  margin-bottom: 32px;
  width: 100%;
  min-height: 150px;
  resize: none;
  overflow: hidden;
  border: none;
  box-sizing: border-box;
  flex: 1;
  transition: background-color 0.4s ease-in-out;
}

.form-input::placeholder,
.form-textarea::placeholder {
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  color: #CACACA;
}

.form-input:hover:not(:focus-visible),
.form-textarea:hover:not(:focus-visible) {
  background-color: #666666;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  background-color: #666666;
}

.form-input:active:not(:focus-visible),
.form-textarea:active:not(:focus-visible) {
  background-color: #666666;
}

.visually-hidden {
  position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.footer__button {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer__btn {
  margin: 0;
  padding: 0;
  align-items: center;
  padding: 19px 52px;
  background-color: #FF9900;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}

.footer__btn:hover:not(:focus-visible) {
  background-color: #FF9900B2;
}

.footer__btn:focus {
  outline: none;
  background-color: #FF9900B2;
}

.footer__btn:active:not(:focus-visible) {
  background-color: #E1670E;
}

.footer__block-right {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  max-width: 363px;
}
